/*style page*/
#basic-addon1 {
  width : 60px;
}

#displayList {
  width:1000px;
  margin:auto;
  padding:300;
}

#featureBar {
  margin: auto;
}

#imageTime {
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 250px;
}

#category {
  color: #9b59b6;
}

#priceTag {
  color: #e67e22;
}

#nameTag {
  font-weight: bold;
}

#pictureNails{
  min-height: 180px;
  height: 180px;
  max-width:180px;
  width: 180px;
}
#animateThis {
  border:none;
}

.image-container {
  border: none;
}
#featureTag {
  text-align: center;
  font-weight: bold;
}
#titleSplash {
  text-align: center;
  padding-bottom: 140px;
  border:none;
}
h4 {
  text-align: center;
  color:#0000EE;
}
h5 {
  text-align: center;
  font-weight: bold;
  font-size: 6em;
}
h6{
  text-align: center;
}
h11{
   color:#e74c3c;
}

#heyNow {
  text-align: center;
  font-size: 3em;
}

.paddedBot{
  padding-bottom: 20px;
  padding-left:200px;
}
.paddedLeft{
  padding-left:200px;
  padding-top: 6px;
}

#imageModal {
  max-height: 200px;
  height: 200px;
  max-width: 200px;
  width: 200px;
}

#modalButton {
  text-align: center;
  padding-right: 200px;
  padding-top: 10px;
}
.qty {
  max-width: 40px;
  width:40px;

}
#qtyStyle {
  margin-bottom: -68px;
  text-align: right;

}
.modalTime{
  margin-top: 8px;
  padding-left: 20px;
}
#cartButton {
  margin-right: 5px;
}
#clearButton{
  margin-right: 15px;
}
#checkOutButton{
  margin-right: 100px;
}
#removeItem {
  font-size: 10px;

}
#removeItemHere {
  margin-left:10px;
}
#numInCart {
  padding-right: 5px;
  font-size: 10px;
  color:#27ae60;
}
#numInCartList{
  padding-top :15px;
}